@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #ffffff;
}
main {
  display: flex;
  justify-content: center;
}

.big-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer {
  bottom:0;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  background-color:#A0A4B8;
  margin-top: auto;
  margin-top: 2.61rem;
}

header {
  background-color: #D8DDEF;
  padding-left:40px;
  list-style: none;
  .header-container {
   display: flex;
   gap: 50px;
  }
    .header-item {
      padding-left:50px;
      padding-top: 33px;
    }
}

.welcome-banner {
  text-align: center;
  padding-top: 30px;
}

.currently-playing-text{
  padding-top: 30px;
  background-color: #ffffff;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 34px;
  gap:50px;
  font-weight: bold;
  text-align: center;
  padding: 0;

  li {
    max-width: 250px;
  }
}

.welcome-text {
  text-align: center;
  font-size: 36px;
}

.currently-playing-cover-art{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  vertical-align: auto;
  flex-wrap: wrap;
  gap: 50px;
}

.currently-playing.wrapper {
  padding-bottom: 2.5rem;
  max-width: 2000px;
}
